
/* Media Query: telas maiores terão botão menor */
@media (min-width: 1024px) {
  .button {
    width: 70%; /* altura menor */
    padding: 8px; /* padding reduzido */
    font-size: 0.875rem; /* opcional: fonte um pouco menor */
  }
}

.hideDefaultPasswordIcons input[type="password"]::-ms-reveal
.hideDefaultPasswordIcons :global(input[type="password"]::-ms-clear) {
  display: none !important;
}

.hideDefaultPasswordIcons :global(input[type="password"]) {
  -webkit-appearance: none !important;
  appearance: none !important;
}
